<div id="wrapper">
    <div class="overlay"></div>
     
         <!-- Sidebar -->

         <div id="page-content-wrapper">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-8 col-lg-offset-2">
                         <h1>{{ex.title}}</h1>
                         <p>{{ex.content}}</p>
                        <input type="text" (keyup)="getVal($event.target.value)">
                        <br>
                        <h6 style="color:red">У вас одна попытка</h6>
                        <button type="button" (click)="confirmAnswer()">Подтвердить</button>
                     </div>
                 </div>
             </div>
         </div>
         <!-- /#page-content-wrapper -->
 
     </div>
     <!-- /#wrapper -->