<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <ul class="navbar-nav">
        <button class="btn-secondary" routerLink="/" routerLinkActive="active" (click)="logOut()">Выйти</button>
      </ul>
      <div class="sidebar-heading">Мои курсы </div>
      <a routerLink="/teatcher/task/0">Новое задание</a>
      <div class="list-group list-group-flush">
        <ul *ngFor="let sub of subjects">
          <a>{{sub.name}}</a>
          <li *ngFor="let ex of sub.exercises">
            <a routerLink="/teatcher/task/{{ex.exId}}">{{ex.title}}</a>
            <!-- <a routerLink="['/teatcher/task/', {{ex.exId}}]">{{ex.title}}</a> -->
          </li>
        </ul>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
      <div class="container-fluid">
        <router-outlet>
        </router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
