<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Мои предметы</div>
      <div class="list-group list-group-flush">
        <ul *ngFor="let sub of subjects">
          <a>{{sub.name}}</a>
          <li *ngFor="let ex of sub.exercises">
            <a routerLink="/student/task/{{ex.exId}}">{{ex.title}}</a>
            <!-- <a routerLink="['/teatcher/task/', {{ex.exId}}]">{{ex.title}}</a> -->
          </li>
        </ul>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- <button class="btn btn-primary" id="menu-toggle">Меню</button> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="student/marks">Результаты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item dropdown">
              <ul class="navbar-nav">
                <button class="btn-secondary" routerLink="/" routerLinkActive="active" (click)="logOut()">Выйти</button>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <router-outlet>
        </router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <-- Menu Toggle Script
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    console.log(1);
  </script> -->